[Unit]
Description=PiSentry Camera App
After=network.target

[Service]
Type=simple
User=regie
WorkingDirectory=/home/regie/PiSentry
ExecStart=/bin/bash /home/regie/PiSentry/startup.sh
Restart=on-failure
RestartSec=5
StandardOutput=append:/home/regie/PiSentry/service.log
StandardError=append:/home/regie/PiSentry/service_error.log

[Install]
WantedBy=multi-user.target
